@import 'reset';
@import 'params';

body {
    font-size: 14px;
    font-family: $font-main;
    line-height: $line-height;
    color: #000;
    }

a {
    color: $color-link;

    &:hover {
        color: $color-link-hover;
        }
    }

.page {
    min-width: $width-page;
    padding: 0 20px;
    }

    .page-title {
        font-weight: bold;
        text-align: center;
        }

    h1.page-title {
        margin: 20px 0;
        font-size: 75px;
        line-height: $line-height;
        }

    h2.page-title {
        margin-bottom: 20px;
        font-size: 30px;
        text-transform: uppercase;
        }

    .page-description {
        width: $width-page;
        margin: auto;
        font-size: 18px;
        font-family: $font-serif;
        line-height: $line-height + 0.3;
        text-align: center;
        color: #666;
        -webkit-font-smoothing: antialiased;
        }

    .page-nav {
        margin: 40px 0;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;

        li {
            margin: 0 10px;
            display: inline-block;
            }

        a {
            text-decoration: none;
            border-bottom: 1px solid $color-link;
            }

        a:hover {
            border-bottom-color: $color-link-hover;
            }
        }

section {
    margin: 60px auto 20px;
    }

section._half {
    width: 50%;
    float: left;
    padding: 0 20px;
    box-sizing: border-box;

    span {
        display: inline-block;
        }
    }

.team {}

    .teammates {
        text-align: center;
        font-size: 0;
        line-height: 0;
        }

        .team-member {
            margin: $margin-team-member/2 $margin-team-member/2;
            display: inline-block;

            img {
                width: $width-team-member-img;
                border-radius: $width-team-member-img;
                display: block;
                border: 3px solid #fff;
                box-shadow: 0 0 5px rgba(#000, .5);
                box-sizing: border-box;
                }
            }

.works,
.works .page-title {
    text-align: right;
    }

.hireus,
.hireus .page-title {
    text-align: left;
    }
