$width-page: 600px;
$width-team-member-img: 150px;

$margin-team-member: 20px;

$line-height: 1.6em;

$color-link: #000;
$color-link-hover: #c50080;

$font-serif: Georgia, Cambria, "Times New Roman", Times, Serif;
$font-main: Helvetica Neue, Helvetica, Arial;
