.section--team__user
  = image_tag(member.avatar.image.url, class: "section--team__user__img") if member.avatar.present?
  .section--team__user__name = member.name
  .section--team__user__title = member.member_information.title if member.member_information

