= render 'admin/admin_menu'
.admin__view
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quo non temporibus neque nobis? Nostrum animi quidem tempore dignissimos, nihil hic vel laborum natus esse quae a delectus, illum possimus deserunt sit, odit, culpa. Magnam reprehenderit aperiam harum debitis excepturi voluptatem qui amet? Optio enim vitae voluptatem voluptas officiis autem corrupti totam minus officia, expedita hic nobis modi? Soluta eligendi earum tenetur vitae culpa accusamus, sequi possimus numquam asperiores aspernatur facere in beatae iusto adipisci repudiandae nihil quis illo placeat ratione iure laborum! Quibusdam a maiores dolor dicta aperiam aspernatur nulla, amet, quae porro, dolores molestiae ducimus saepe numquam. Ipsa.
