body {
	font-family: $font-main;
	font-size: 12px;
	}

.btn {
	height: 32px;
	padding: 0 20px;
	display: inline-block;
	line-height: 32px + 2;
	border-radius: $radius-btn;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	font-weight: $fw-bold;
	}

.btn_blue {
	background-color: #4485f3;
	border-bottom: 3px solid #276fd0;
	text-shadow: 0 1px 0 #276fd0;

	&:hover {
		background-color: #639af9;
		border-bottom-color: #4485f3;
		}
	}

.btn_orange {
	background-color: #F1C40F;
	border-bottom: 3px solid #F39C12;
	text-shadow: 0 1px 0 #F39C12;

	// &:hover {
	// 	background-color: rgba(#639af9,.5);
	// 	border-bottom-color: #F1C40F;
	// 	}
	}
