html {
	height: 100%;
	}

body {
	width: 100%;
	height: 100%;
	display: table;
	}

	.head {
		display: table-header-group;
		}

	.body {
		display: table-row-group;
		}

	.foot {
		display: table-footer-group;
		}

	header,
	#main,
	footer {
		padding: 0 $margin-window;
		}

.inner {
	max-width: $width-max;
	margin: auto;
	}

#main {
	@extend .inner;
	}
