// Dimensions
	$width-max: 1000px;
    $width-cuted: $width-max - 200;
	$radius: 2px;

// Font
	$font-main: 'Lato', 'Helvetica Neue', Helvetica, Arial;
    $font-text: Georgia;
	$fw-light: 300;
	$fw-normal: 400;
    $fw-bold: 700;
	// $fw-bold: 700;

// Colors
    $red: #e34234;
    $blue: #22A7F0;
    $green: #2ABB9B;
    $yellow: #fec558;
    $asphalt: #33414e;
    $lynch: #6C7A89;
    $lightlynch: #D2D8D8;
    $white: #fff;
    $lightgray: #ecf0f4;
    $gray: #f5f5f5;
    $darkgray: #595959;
    $black: #282828;

// Variables
    $text-shadow: 0 1px 10px rgba(0,0,0,.5);
    $color-link: white;
