// Dimensions
	$width-max: 1000px;
	$radius: 2px;

// Font
	$font-main: 'Lato', 'Helvetica Neue', Helvetica, Arial;
	$fw-light: 300;
	$fw-normal: 400;
    $fw-bold: 700;
	// $fw-bold: 700;

// Colors
    $red: #e34234;
    $blue: #61c0e6;
    $yellow: #fec558;
    $asphalt: #33414e;
    $asphalt-light: #6a7d91;
    $black: #282828;
    $gray: #dee5e8;

// Variables

    $color-link: white;
