h3 Name
= project.name
h3 Description
= markdown(project.description)
= link_to 'Edit', edit_admin_project_path(project)
= link_to 'Show', project_path(project)
= link_to 'Destroy', [:admin, project], data: {confirm: 'Are you sure?'}, method: :delete
