.admin__edit,
.admin__remove {
    float: right;
    margin-right: 10px;
    line-height: 40px;
    }
.admin__edit {
    a {
    border-bottom: 1px solid $blue;
        }
    }
.admin__remove {
    a {
    border-bottom: 1px solid $red;
        }
    }


// main admin page

.admin__menu {
    width: 250px;
    height: 100%;
    float: left;
    }
    .admin__menu__item {
        font-size: 16px;
        a {
            color: $black;
            line-height: 1.6em;
            }
        }
.admin__view {
    width: calc(100% - 250px);
    float: left;
    a {
        color: $black;
        }
}

// admin/users page
.admin__user {
    @extend .clearfix;

    margin-bottom: 10px;
    }
    .admin__user__img {
        width: 40px;
        height: 40px;
        float: left;
        border-radius: 50%;
        margin-right: 15px;
        }
    .admin__user__name {
        display: inline-block;
        line-height: 40px;
        font-size: 16px;
        float: left;
        margin-right: 20px;
        a {
            vertical-align: middle;
            }
        }
    .admin__user__new {
        margin-top: 40px;
        }

//admin/pages page

.admin__pages {

    }
    .admin__pages__item {
        margin-bottom: 20px;
        }
        .admin__pages__title {
            font-size: 36px;
            font-weight: lighter;
            margin-bottom: 15px;
            &:hover {
                color: $red;
                border-bottom: 1px solid $red;
                }
            }
        .admin__pages__preview {
            margin-top: 15px;
            padding-left: 10px;
            font-family: Georgia;
            font-size: 18px;
            line-height: 1.4em;
            }



//admin/questions page

.admin__questions__item {
    @extend .clearfix;
    line-height: 40px;
    }
    .admin__question__title {
        font-size: 24px;
        font-weight: lighter;
        &:hover {
            color: $red;
            border-bottom: 1px solid $red;
            }
    }
    .admin__questions__answer {
        font-family: Georgia;
        font-size: 18px;
        padding-left: 10px;
        }





