.blog {

    }

    .blog__inner {
        max-width: $width-max;
        padding: 0 1.5rem;
        margin: auto;
        box-sizing: border-box;
        }

    .blog header {
        @extend .clearfix;
        @extend .blog__inner;
        }

        .blog hgroup {
            line-height: 15rem;
            }

            .blog__header__title {
                float: left;

                color: $black;
                }

            .blog header ul {
                float: right;

                font-size: 0;

                li {
                    display: inline-block;
                    margin: 0 0 0 2rem;

                    font-size: 1rem;
                    }

                .link {
                    color: $black;
                    border-bottom: 1px solid $black;
                    }
                }

    .blog section {
        @extend .blog__inner;
        }

        .blog article {
            @extend .clearfix;
            padding: 0 50px;
            // padding-left: 180px;
             width: 100%;
            margin-bottom: 3rem;
            position: relative;
            }

            .blog article[role='full'] .blog__article__meta {
                margin-top: 4rem;
                }

            .blog__article__meta {
                width: 135px;
                top: 0;
                left: -120px;
                position: absolute;

                text-align: right;
                font-size: 0;

                span {
                    margin-bottom: 1.2rem;
                    display: inline-block;
                    font-size: 1rem;
                    }

                img {
                    display: inline-block;

                    border-radius: 100px;
                    }
                }

                .blog article[role='preview'] .blog__article__meta img {
                    width: 32px;
                    margin: 0 0 .2rem .2rem;
                    }

                .blog article[role='full'] .blog__article__meta img {
                    width: 85px;
                    margin-bottom: 1rem;
                    }

            .blog__article__content {
                position: relative;
                font-size: 1.2rem;
                line-height: 2rem;

                p {
                    margin-bottom: .85rem;

                    font-family: $font-text;

                    a {
                        color: darken($red, 15%);
                        text-decoration: underline;

                        &:hover {
                            color: $red;
                            }
                        }
                    }

                h2 {
                    margin: 1.7rem 0 .85rem;

                    font-size: 1.2rem;
                    font-weight: $fw-bold;
                    font-family: $font-text;
                    }

                h3 {
                    margin: 1.7rem 0 .85rem;

                    font-size: 1rem;
                    font-weight: $fw-bold;
                    font-family: $font-text;
                    }
                }

                .blog__article__content__title {
                    margin-bottom: .5rem;

                    line-height: 2rem;
                    font-family: $font-main;
                    font-weight: $fw-bold;
                    font-size: 1.4rem;
                    color: $black;

                    a {
                        color: $black;
                        border-bottom: 1px solid $black;

                        &:hover {
                            color: $red;
                            border-bottom-color: $red;
                            }
                        }
                    }

                .blog article[role='full'] .blog__article__content__title {
                    line-height: 3rem;
                    font-size: 2rem;

                    a {
                        border-bottom: 0;
                        }
                    }
