.faq {
	max-width: $width-mid;
	margin: 3*$margin-block auto 2*$margin-block;
	text-align: center;
	}

	.faq-list {
		// width: 80%;
		margin: auto;

		li {
			margin: 0 .6em;
			display: inline-block;
			line-height: 1.8em;
			vertical-align: bottom;
			}

		a, span {
			border-bottom: 1px solid $color-wetasphalt;
			text-decoration: none;
			color: $color-wetasphalt;

			&:hover {
				border-bottom-color: $color-midnightblue;
				color: $color-midnightblue;
				}
			}
		}
