.section--footer {
    background-color: $asphalt;
    }
    .section--footer__info {
        display: inline-block;
        margin-left: 20px;
        color: #fff;
        }
    .section--footer__info a {
        color: #fff;
        border-bottom: 1px solid #fff;
        }
    .btn--contact {
        display: inline-block;
        }
