.header {

    }

.header--wrapper {
    padding-top: 30px;
    padding-bottom: 80px;
    }

.header__logo {
    position: relative;
    display: inline-block;
    }
    .header__logo__link {
        font-size: 30px;
        font-weight: 700;
        &:after {
            display: inline-block;
            position: absolute;
            left: calc(50% - 20px);
            font-size: 12px;
            font-weight: lighter;
            content: 'we care';
            }
        }
    .header__logo--white {
        .header__logo__link {
            color: $white;
            text-shadow: $text-shadow;
            &:after {
                bottom: -15px;
                }
            }
        }
    .header__logo--black {
        .header__logo__link {
            color: $black;
            &:after {
                bottom: -15px;
                }
            }
        }

.header__menu__icon {
    width: 40px;
    height: 40px;
    display: none;
    border-radius: $radius;
    background-image: image_url("icon-menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    }
    .header__menu__icon--red {
        background-color: $red;
        }
    .header__menu__icon--blue {
        background-color: $blue;
        }
    .header__menu__icon--green {
        background-color: $green;
        }

.header__menu {
    font-size: 16px;
    float: right;
    }
    .header__menu--white {
        .header__menu__item__link {
            color: $white;
            border-bottom: 1px solid $white;
            }
        }
    .header__menu--black {
        .header__menu__item__link {
            color: $black;
            border-bottom: 1px solid $black;
            }
        }
        .header__menu__inner {
            display: block;
            }
            .header__menu__item {
                display: inline-block;
                margin-right: 20px;
                line-height: 34px;
                &:last-child {
                    margin-right: 0;
                    }
                }
                .header__menu__item__link--red {
                    @extend .btn;
                    @extend .btn--red;
                    }
                .header__menu__item__link--blue {
                    @extend .btn;
                    @extend .btn--blue;
                    }
                .header__menu__item__link--green {
                    @extend .btn;
                    @extend .btn--green;
                    }

@media only screen and (max-width: 640px) {
    .header__menu {
        position: relative;
        .header__menu__item__link {
            color: $white;
            border-bottom: 1px solid $white;
            }
        }
        .header__menu__icon {
            display: inline-block;
            }
        .header__menu__inner {
            padding: 10px 20px;
            position: absolute;
            right: 40px;
            border-radius: $radius;
            background-color: $asphalt;
            // display: none;
            }
            .header__menu__item {
                display: block;
                text-align: center;
                margin: 10px 0;
                }
    }
