.section--header {
    // min-height: 500px;
    background-image: image_url("landing_video_bg.jpg");
    background-position: center;
    background-size: cover;
    }
    .company__logo {
        display: inline-block;
        color: rgba(255,255,255,1);
        text-shadow: 0 1px 10px rgba(0,0,0,0.5);
        }
    .company__menu {
        float: right;
        }
        .company__menu__item {
            display: inline-block;
            margin-right: 20px;
            line-height: 34px;
            &:last-child {
                margin-right: 0;
                }
            }
    .company__description {
        margin-top: 70px;
        p {
            text-align: center;
            font-size: 36px;
            font-weight: bold;
            color: #fff;
            text-shadow: 0 1px 10px rgba(0,0,0,0.5);
            }

        }
    .projects {
        margin-top: 70px;
        margin-bottom: 30px;
        }
        .projects__item {
                display: inline;
            img {
                width: 22%;
                margin-right: 4%;
                border-radius: 5px;
                }
            &:last-child {
                img {
                    margin: 0;
                    }
                }
            }
    .projects__btn {
        text-align: center;
        margin-bottom: 20px;
        a {
            padding: 10px 15px;
            display: inline-block;
            border: 2px solid #fff;
            border-radius: 5px;
            font-size: 20px;
            &:hover {
                background-color: #fff;
                color: #140E12;
                }
            }
        }
