.line {
    height: 4px;
    }
    .line--red {
        background-color: $red;
        }
    .line--blue {
        background-color: $blue;
        }
    .line--green {
        background-color: $green;
        }
    .line--yellow {
        background-color: $yellow;
    }
