.line {
    height: 4px;
    }

    .line--red {
        @extend .line;

        background-color: $red;
        }
    .line--blue {
        @extend .line;

        background-color: $blue;
        }
