//for body tag (IE - html tag)
.lock {
    overflow: hidden;
    }

.popup__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($asphalt, 0.9);
    visibility: hidden;
    z-index:10;
    opacity: 0;
    transition: opacity 0.3s 0, visibility 0 0.3s;

    &.visible {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s 0, visibility 0 0;
        transform: translateY(0);
        overflow: scroll;
        .popup__window {
            transform: translateY(0);
            }
        }
    }

        .popup__window {
            position: relative;
            width: 90%;
            box-sizing: border-box;
            max-width: 600px;
            background-color: $white;
            margin: 4em auto;
            padding: 2em;
            border-radius: 4px;
            transform: translateY(-20px);
            transition-duration: 0.2s;
        }

            .popup__close {
                position: absolute;
                top: -30px;
                right: 0;
                font-size: 18px;
                cursor: pointer;
            }

            .popup__input {
                position: relative;
                }
                .popup__input--name,
                .popup__input--email,
                .popup__input--description {
                    @extend .popup__input;
                    }
                    .popup__input__icon {
                        position: absolute;
                        top: 16px;
                        left: 16px;
                        }
                .popup__input--submit {
                    text-align: center;
                    input {
                        -webkit-appearance: none;
                        width: 60%;
                        }
                    }
                    .popup__input--submit--red {
                        input {
                            background-color: $red;
                            }
                        }
                    .popup__input--submit--blue {
                        input {
                            background-color: $blue;
                            }
                        }
                    .popup__input--submit--green {
                        input {
                            background-color: $green;
                            }
                        }




