.products {

    }
    .products__item {
        @extend .clearfix;

        margin-bottom: 20px;
        }
        .products__item__img {
            width: 200px;
            margin-right: 20px;
            margin-bottom: 10px;
            float: left;
            border-radius: $radius;
            }
        .products__item__name {
            margin-bottom: 15px;
            display: block;
            font-weight: $fw-normal;
            a {
                color: $black;
                border-bottom: 1px solid $black;
                &:hover {
                    color: $blue;
                    border-bottom: 1px solid $blue;
                    }
                }
            }

        .products__item__description {
            line-height: 1.4em;
            color: $darkgray;
            }
        .products__tags {
            @extend .clearfix;

            margin: 10px 0;
            }
