.section--footer {
    background-color: $asphalt;
    }
    .section--footer__info {
        display: inline-block;
        margin-left: 20px;
        color: $white;
        }
    .section--footer__info a {
        color: $white;
        border-bottom: 1px solid $white;
        }
    .btn--contact {
        display: inline-block;
        }
