.section--team {
    @extend .clearfix;
    background-color: $lightgray;
    }
.section__title--team {
    color: $red;
    }
    .section--team__users {
        text-align: center;
        }
        .section--team__user {
            min-width: 200px;
            width: 20%;
            padding: 20px;
            display: inline-block;
            text-align: center;
            box-sizing: border-box;
            }
            .section--team__user__img {
                width: 100%;
                max-width: 150px;
                margin-bottom: 10px;
                border-radius: 50%;
                }
            .section--team__user__name {
                margin-bottom: 10px;
                font-size: 18px;
                color: $black;
                }
            .section--team__user__title {
                color: $red;
                }

    .section--team__btn {
        display: block;
        width: 100%;
        }
