.admin__user {
    @extend .clearfix;

    margin-bottom: 10px;
    }
    .admin__user__img {
        width: 40px;
        height: 40px;
        float: left;
        border-radius: 50%;
        margin-right: 15px;
        }
    .admin__user__name {
        display: inline-block;
        line-height: 40px;
        font-size: 16px;
        float: left;
        margin-right: 20px;
        a {
            vertical-align: middle;
            }
        }
