.blog {
	margin-top: 50px;
	.post-link {
		@include clearfix();
		margin-bottom: 50px;
		.post-info {
			border-left: 10px solid $m1-color;
			padding-left: 35px;
			padding-bottom: 15px;
			.post-author__container {
				@include clearfix();
				margin-top: 20px;
				.post-author--item {
					margin-right: 20px;
					margin-bottom: 10px;
					.post-triangle {
						@include r-triangle(10px, 9px);
						float: left;
						margin-right: 5px;
					}
					float: left;
					font-weight: bold;
					&:last-child {
						margin-right: 0;
					}
				}
			}
			.post-info-title {
				font-size: 45px;
				font-weight: bold;
				font-family: $h-ff;
				text-transform: uppercase;
				text-decoration: none;
				color: $m2-color;
				&:hover {
					color: $m1-color;
				}
			}
			.post-content {
                margin-top: 15px;
				img {
					@extend .img-responsive;
					margin: 15px 0;
				}
			}
			.post-read {
				margin: 20px 0 25px 0;
				&.post-read-button {
					@include btn();
					font-size: 16px;
					font-family: $h-ff;
					font-weight: normal;
				}
			}
			.post-date--tags__container {

				font-size: 14px;
				margin: 10px 0;

				@include clearfix();

				.post-date {
					float: left;
					margin-right: 10px;
					text-transform: uppercase;
					font-weight: bold;

				}

				.post-tags {
					float: left;

					background:$m1-color;
					padding: 0 5px;
					font-weight: bold;
					@include clearfix();
					.post-tags--item {
						float: left;
						margin-right: 10px;
						&:last-child {
							margin-right: 0;
						}

					}

				}
			}

			.post-info-triangle-and-author {
				@include clearfix();
				.post-info-triangle {
					float: left;
					margin-top: 9px;
					margin-right: 10px;
					@include r-triangle(8px, 8px);
				}
				.post-info-author {
					float: left;
					font-weight: bold;
					text-transform: uppercase;
					margin-top: 10px;
					font-size: 12px;
				}
			}
		}
	}
	@import 'comment-add.scss';
	@import 'comment.scss';
}
