.comment-add {
	border-top: 1px solid rgba($m2-color, .5);
	padding-top: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
	.comment-title {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 10px;
		margin-left: 107px;
	}
	.form-container {
		// background: #eee;
		@include clearfix();
		.avatar-container {
			float: left;
			// width: 200px;
			margin-right: 27px;
			width: 80px;
			height: auto;
			.avatar-image {
				max-width: 100%;
				border-radius: 6px;
			}
			.user-name {
				font-size: 14px;
			}
		}
		.fields-container {
			float: left;
			margin-right: 20px;
			width: 575px;
			textarea {
				width: 100%;
				height: 280px;
				resize: vertical;
				padding: 10px;
				margin-bottom: 5px;
				border-radius: 4px;
				box-sizing: border-box;
				&:focus {
					outline: none;
				}
				&.incorrect {
					border-color: lighten(red, 20%);
				}
				@include placeholder() {
					color: #333;
				}
			}
			.error-message {
				margin-bottom: 10px;
				color: lighten(red, 20%);
				font-size: 14px;
				text-align: center;

			}
			input {
				@include btn();
				width: 100%;
				border-radius: 4px;
				border: none;
			}
		}
		.sign-container {
			float: right;
			.sign-title {
				font-weight: bold;
				font-size: 15px;
				margin-bottom: 10px;
				text-transform: uppercase;
				width: 55px;
			}
			ul {
				padding: 0;
				display: block;
				margin: 0;
				list-style-type: none;
				li {
					margin-bottom: 20px;
					a {
						display: block;
						font-family: 'socicon';
						font-size: 30px;
						text-decoration: none;
						margin: 0 auto;
						&.socicon-twitter {
							color: #1dcaff;
						}
						&.socicon-google {
							color: #d34836;
						}
						&.socicon-vkontakte {
							color: #45668e;
						}
						&.socicon-facebook {
							color: #3b5998;
						}
						&.socicon-github {
							color: #000;
						}
					}
				}
			}
		}
	}
}