.comment {
	@include clearfix();
	.avatar-container {
		float: left;
		margin-right: 27px;
		width: 80px;
		height: auto;
		.avatar-image {
			max-width: 100%;
			border-radius: 50%;
		}
	}
	.name-and-message-container {
		float: left;
		width: 575px;
		box-sizing: border-box;
		.name-container {
			// font-size: 14px;
			color: #333;
			margin-bottom: 10px;
			font-weight: bold;
		}
		.date-time-container {
			// font-size: 12px;
			color: #444;
			font-weight: bold;
		}
		.message-container {
			// font-size: 14px;
			line-height: 20px;
		}
	}
}