aside {
	float: right;
	width: 350px;
	font-size: 14px;
	line-height: 22px;
	margin-top: 12px;
	@mixin aside-divider(){
		margin-bottom: 15px;
		border-bottom: 1px dotted #ccc;
		padding-bottom: 15px;
	}
	@import 'components/services';
	@import 'components/quality';
	@import 'components/blog';
}