.menu {
	@include clearfix();
	&.fixed {
		position: fixed;
		width: 1024px;
		top: 0;
		left: 0;
		background: $m1-color;
		margin-left: 180px;
		float: none;
		z-index: 9999;
	}
	nav {
		font-family: $h-ff;
		float: right;
		ul {
			@include clearfix();
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				float: left;
				border-top: 4px solid $m1-color;
				&.active {
					border-top: 4px solid $m2-color;
				}
				a {
					font-weight: normal;
					font-size: 16px;
					display: block;
					padding: 10px 25px;
					// color: $m2-color;
					color: #333;
					text-transform: uppercase;
					text-decoration: none;
					background: $m1-color;
					transition: all .2s ease;

					&:hover {
						color: #fff;
						background: $m2-color;
					}
				}
			}
		}
	}
}