// Fonts
$h-ff: 'Oswald', Helvetica, Arial, sans-serif;
$p-ff: 'Roboto', Arial, sans-serif;

// Colors
$bg-color: #fff;
$m1-color: #F3D785;
$m2-color: #555555;
$m3-color: rgb(245, 245, 245);
$m4-color: rgb(47, 49, 53);
