@import 'variables';
@import 'mixins';
@import '../vendor/socicon/socicon';
@import '../vendor/icomoon/dist/css/icomoon';
body {
	background: $bg-color;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
	font-family: $p-ff;
	color: $m2-color;
	img {
		image-rendering: -webkit-optimize-contrast;
		&.img-responsive {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	a {
		font-weight: bold;
		color: darken($m1-color, 30%); 
		&:hover {
			color: darken($m1-color, 40%);
		}
	}
	ul,
	ol {
		padding: 0;
		margin: 0;
		list-style-position: inside;
	}
	p {
		color: $m2-color;
		font-family: $p-ff;
		font-size: 16px/28px;
		margin: 7px 0;
		padding: 0;
	}
	blockquote {
		color: darken($m1-color, 15%);
		font-family: $p-ff;
		margin: 15px 0;
		font-style: italic;
		padding: 0 14px;
		border-left: 5px solid $m1-color;
	}
	.container {
		width: 1024px;
		margin: 0 auto;
	}
	@import "components/header";
	@import "team/team";
	@import "team/developer";
	@import "contact/contact";
	@import "work/index";
	@import "work/show";
	@import "main/main";
	@import "blog/blog";
	@import "components/footer";
}